certifi==2024.2.2
charset-normalizer==3.3.2
click @ file:///croot/click_1698129812380/work
Flask @ file:///croot/flask_1702980023242/work
greenlet @ file:///croot/greenlet_1702059959679/work
idna==3.6
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
Jinja2 @ file:///croot/jinja2_1706733616596/work
MarkupSafe @ file:///croot/markupsafe_1704205993651/work
requests==2.31.0
SQLAlchemy @ file:///croot/sqlalchemy_1705089115293/work
typing_extensions @ file:///croot/typing_extensions_1705599297034/work
urllib3==2.2.1
Werkzeug @ file:///croot/werkzeug_1706210078083/work
