<!DOCTYPE html>
<html>
  <head>
    <title>Simple Marker</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module" src="{{url_for('static', filename='index.js')}}"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  </head>
  <body>
    <main class="container-fluid">
      <!-- TODO: make smaller -->
      <nav>
        <ul>
          <li><strong>Bike Finder</strong></li>
        </ul>
        <ul id="current-weather"></ul>
      </nav>
      <div id="weather-details">
        <div></div>
      </div>
      <div id="content">
        <div class="container left" id="sidebar">
          <div id="search-panel">
            <form id="search-form">
              <fieldset>
                <input type="search" placeholder="From..." id="start-location" name="start-location" required />
                <input type="search" placeholder="To..." id="end-location" name="end-location" required />
                <label for="departure-time"
                  >Departure Time:
                  <input type="datetime-local" id="departure-time" name="departure-time" required />
                </label>
              </fieldset>
              <button type="submit">Search</button>
            </form>
          </div>

          <div id="results">
            <i id="back-button" class="fa fa-chevron-left"></i>
            <h5>Suggested Route</h5>
            <details open>
                <summary id="leg1-title"></summary>
                <div id="leg1Panel"></div>
              </details>
            <details closed>
                <summary id="leg2-title"></summary>
                <div id="leg2Panel"></div>
              </details>
            <details closed>
                <summary id="leg3-title"></summary>
                <div id="leg3Panel"></div>
              </details>

            <!-- <span aria-busy="true">Generating your link...</span>
              <progress></progress> -->
            <!-- TODO modals https://picocss.com/docs/modal -->
          </div>
        </div>
        <div class="container right" id="map"></div>
      </div>
    </main>
    <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ apiKey }}&libraries=places,geometry,marker&callback=initMap&v=weekly" defer></script>
  </body>
</html>
