h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 90%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}


/* START SECTION */
/* nav {
    position: fixed;
    top: 0;
    left: 0;
} */
#content {
    display: flex;
    margin: 0rem -1rem;
}

#content .right {
    flex-grow: 1;
    height: 100vh;
}
#sidebar {
    width: 30vw;
    background-color: rgba(255, 255, 255, 0.262);
}

#search-form {
    margin: 1rem;
}
/* END SECTION */